*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: aliceblue;
    font-family: 'Prompt', sans-serif;
}
.cointainer {
    width: 100%;
    margin-top: 5rem;
    
}
.title{
    font-size: 50px;
    margin-bottom: 3rem;
    color: rgb(124, 81, 1);
    text-align: center;
}
.edit, .completed, .trashed{
    width: 510px;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 10px;
    background-color: rgb(192, 147, 147);
}
.item{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.addTask {
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    
}
.input {
    padding: 10px;
}
.input,.btnAdd{
    width: 340px;
    height: 26px;
    border-radius: 20px;
    margin-left: 20px;
}
.btnAdd{
    width: 200px;
}
.btnAdd:hover {
    background-color: rgb(48, 75, 48);
    color: white;
}
.fas, .error, .text{
    color: rgb(105, 0, 0);
}
.text {
    text-align: center;
    margin-bottom: 3rem;
}
.completed{
    width: 250px;
}
.list {
    display: flex;
    justify-content: space-around;
}
.trashed {
    width: 250px;
}