<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./asset/css/style.css">
    <title>To Do List</title>
</head>
<body>
    <div id="app">
        <div class="cointainer">
            <h1 class="title">To Do List</h1>
            <div class="addTask" v-if="tasks.length > 0">
                <input class="input" type="text" v-model="newTask" v-on:keyup.enter="addTask">
                <button class="btnAdd" @click="addTask()" >Aggiungi</button>
                <div class="error" v-show="error">Devi inserire una task!</div>
            </div>
            <div v-else>
                <p class="text">Nulla da fare! Buona giornata!</p>
            </div>
            <div class="list">
                <div class="edit">
                <h2>To Do List</h2>
                <div class="tasks">
                    <div class="item" v-for="(task, index) in tasks">{{task}} 
                        <div class="deleteTask">
                            <i class="far fa-edit"></i>
                            <i class="far fa-check-circle" @click="taskComplete(task)"></i>
                            <i class="fas fa-times" @click="removeTask(task)"></i>  
                        </div>
                     </div>
               </div>
                </div>
                <div class="completed">
                    <h2>Completed</h2>
                    <div class="tasks">
                        <div class="item" v-for="(task, index) in completed">{{task}}
                            <div class="resume">
                                <i class="fas fa-redo" @click="resumeTask(task)"></i>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="trashed">
                    <h2>Trashed</h2>
                    <div class="tasks">
                        <div class="item" v-for="(task, index) in trashed">{{task}}
                             <i class="fas fa-trash-restore" @click="taskTrashed(task)"></i>
            
                        </div>
                    </div>
                </div>
              
            </div>
        
            
       </div>
        </div>

       
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="./asset/js/main.js"></script>
</body>
</html>